# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/db-forest-config.xml
/modules.xml
/php.xml
/inspectionProfiles/Project_Default.xml
/vcs.xml
/webServers.xml
/sshConfigs.xml
/skillset-fork-course-format_remuiformat.iml
/deployment.xml
